@model MyApp.Models.Item

@{
    var message = "Hello World";
    var items = new List<string> { "Item1", "Item2", "Item3", "Item4" };
}

<p>
    This is the name of the Item @Model.Name
</p>
<p style="" >
    @message
</p>
<ul>
    @foreach(var item in items)
    {
        <li>
            @item
        </li>
    }
</ul>
